# BW Project Title

## Team Members
- Zack Snyder

## Project Description
This model will utilize data from the Kaggle kickstarter dataset to predict whether a kickstarter project will be successful.

In [34]:
# Import required packages
import numpy as np
import tensorflow as tf
import pandas as pd
import sklearn

print(f'Numpy Version: {np.__version__}')
print(f'Tensorflow Version: {tf.__version__}')
print(f'Pandas Version: {pd.__version__}')
print(f'sklearn Version: {sklearn.__version__}')

Numpy Version: 1.19.5
Tensorflow Version: 2.4.1
Pandas Version: 1.2.2
sklearn Version: 0.24.1

## Load Data

In [25]:
df1 = pd.read_csv(r'C:\Users\zacks\repos\kickstarter-success\U4-BW-Template\U4-BW-Template\data\ks-projects-201612.csv')
df2 = pd.read_csv(r'C:\Users\zacks\repos\kickstarter-success\U4-BW-Template\U4-BW-Template\data\ks-projects-201801.csv')
df = pd.concat([df1, df2], axis=1)
df.sample(10)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,...,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
262730,6.337368e+08,Join the rainforest cockatoo film project!,Film & Video,Film & Video,USD,2014-02-26 03:55:32,19100,2014-01-17 03:55:32,101,failed,...,2013-07-24,25000.0,2013-06-24 21:52:00,57141.0,successful,295,US,57141.00,57141.00,25000.00
300504,8.603800e+08,Mustache Monocles,Fashion,Fashion,USD,2012-07-16 21:00:00,20000,2012-06-12 10:08:14,5089,failed,...,2015-06-02,6000.0,2015-05-19 20:21:42,0.0,failed,0,US,0.00,0.00,6000.00
119839,1.711382e+09,Joker Cricket - Annoy Everyone With This Hidde...,Product Design,Design,USD,2016-11-10 21:01:26,12500,2016-10-11 21:01:26,15214,successful,...,2017-02-22,80000.0,2016-12-24 01:44:32,84450.0,successful,43,MX,218.81,4288.11,4062.15
173577,2.033064e+09,"ONCE IN A LIFETIME: ""Just Go For It!"" (Canceled)",Drama,Film & Video,USD,2015-09-02 18:05:19,125000,2015-08-03 18:05:19,0,canceled,...,2011-10-24,750.0,2011-08-25 22:56:14,379.0,failed,11,US,379.00,379.00,750.00
287453,7.820680e+08,"Dirty 30, etched metal photo series project",Installations,Art,USD,2015-03-04 08:59:00,1000,2015-02-04 20:03:47,1564,successful,...,2017-04-23,1200.0,2017-03-22 14:50:54,13070.0,successful,96,US,7893.00,13070.00,1200.00
243303,5.162245e+08,Onomasticon: A Vocabulary for Nowhere,Photography,Photography,USD,2010-09-25 06:59:00,4000,2010-06-28 06:07:08,4275,successful,...,2010-07-06,4100.0,2010-05-31 10:27:26,80.0,canceled,6,US,80.00,80.00,4100.00
224183,4.022676e+08,A walk in the park,Film & Video,Film & Video,EUR,2015-01-18 22:30:30,1000,2014-12-19 22:30:30,0,undefined,...,2013-06-10,96000.0,2013-05-10 18:59:18,4217.0,canceled,35,US,4217.00,4217.00,96000.00
165197,1.982450e+09,Theme Song Thesis,Shorts,Film & Video,USD,2011-12-08 22:41:56,5000,2011-11-08 22:41:56,5081,successful,...,2016-07-12,5000.0,2016-06-27 19:55:09,60.0,failed,1,GB,0.00,80.18,6681.45
44113,1.262198e+09,Lapis Azurai (Canceled),Video Games,Games,USD,2015-03-03 01:36:14,20000,2015-02-01 01:36:14,4542,canceled,...,2014-11-18,2500.0,2014-09-19 19:37:35,0.0,suspended,0,GB,0.00,0.00,3920.58
366029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2015-10-09,9000.0,2015-09-09 00:20:45,12475.0,successful,38,US,12475.00,12475.00,9000.00

In [26]:
df = df.dropna(axis=1)
df.shape

(378661, 13)

In [27]:
df.sample(10)

,ID,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged_real,usd_goal_real
305446,625547544,Illustration,Art,USD,2017-11-01,8000.0,2017-10-07 20:59:13,8066.00,successful,151,US,8066.00,8000.0
98089,1498067758,Gadgets,Technology,USD,2014-10-31,18000.0,2014-10-01 01:57:41,480.00,failed,14,US,480.00,18000.0
161157,181977632,Documentary,Film & Video,USD,2016-08-26,50000.0,2016-07-27 15:40:42,1.00,failed,1,US,1.00,50000.0
10225,1051420663,Rock,Music,USD,2012-09-12,5000.0,2012-08-22 07:47:09,5240.00,successful,66,US,5240.00,5000.0
228551,231837111,Documentary,Film & Video,USD,2013-08-12,10000.0,2013-07-08 23:02:57,10647.00,successful,145,US,10647.00,10000.0
238816,28435538,Shorts,Film & Video,USD,2016-12-11,1800.0,2016-11-11 22:37:38,280.00,failed,13,US,280.00,1800.0
305178,624062025,Theater,Theater,USD,2011-11-02,2400.0,2011-10-02 21:16:04,2491.00,successful,72,US,2491.00,2400.0
1469,1007513533,Accessories,Fashion,AUD,2014-09-25,5000.0,2014-09-18 23:29:49,0.00,failed,0,AU,0.00,4395.6
287834,534520396,Comics,Comics,USD,2013-02-07,20000.0,2013-01-07 02:40:20,94502.95,successful,2469,US,94502.95,20000.0
179937,1915312493,Webseries,Film & Video,USD,2013-04-26,5500.0,2013-03-26 04:17:30,5855.00,successful,84,US,5855.00,5500.0

In [28]:
df = df[df['state'] != 'canceled']

df.shape

(339882, 13)

In [29]:
df.sample(10)

,ID,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged_real,usd_goal_real
103099,152407258,Comic Books,Comics,EUR,2017-05-10,3780.0,2017-03-21 12:54:49,0.00,failed,0,ES,0.00,4111.11
178427,1907837116,Rock,Music,USD,2012-08-10,5000.0,2012-07-11 05:29:36,0.00,failed,0,US,0.00,5000.00
247973,33123665,Video Games,Games,USD,2014-12-24,30000.0,2014-11-24 01:45:40,3036.00,failed,39,US,3036.00,30000.00
323327,716877904,Crafts,Crafts,USD,2014-10-03,50000.0,2014-09-03 14:04:03,0.00,failed,0,US,0.00,50000.00
172065,1875150771,Publishing,Publishing,USD,2012-03-10,10000.0,2012-02-09 00:00:35,11181.00,successful,201,US,11181.00,10000.00
273386,460794434,Drinks,Food,USD,2015-01-04,12500.0,2014-12-05 04:45:35,15230.00,successful,152,US,15230.00,12500.00
6469,1033075604,Photography,Photography,USD,2012-12-13,1513.0,2012-11-13 16:56:15,70.00,failed,2,US,70.00,1513.00
133642,1678223917,Shorts,Film & Video,USD,2013-12-08,10000.0,2013-11-08 16:33:31,0.00,failed,0,US,0.00,10000.00
180648,1919062009,Publishing,Publishing,USD,2017-11-28,12000.0,2017-10-24 17:48:18,28443.65,successful,644,US,28443.65,12000.00
300572,600506175,Music,Music,USD,2011-12-03,3000.0,2011-11-09 14:38:15,3490.00,successful,74,US,3490.00,3000.00

In [30]:
#removing data leakage columns

df = df[['category', 'main_category', 'currency', 'deadline', 'launched', 'country', 'state', 'goal']]

df.sample(5)

,category,main_category,currency,deadline,launched,country,state,goal
23622,Accessories,Fashion,USD,2016-11-24,2016-11-17 20:42:52,US,successful,100.0
93457,Drama,Film & Video,GBP,2015-03-26,2015-02-26 11:49:12,GB,successful,3000.0
228985,Music,Music,USD,2012-01-08,2011-12-08 18:00:35,US,successful,5000.0
341601,People,Photography,USD,2017-10-15,2017-08-31 03:46:48,US,successful,1000.0
191911,Webseries,Film & Video,USD,2015-01-29,2014-12-30 19:14:20,US,failed,15000.0

In [31]:
#converting state into binary success and failure where success=1  and failure = 0 

df = df.assign(outcome=(df['state'] == 'successful').astype(int))

df.sample(5)

,category,main_category,currency,deadline,launched,country,state,goal,outcome
51275,Shorts,Film & Video,USD,2011-07-31,2011-05-02 02:00:28,US,failed,15000.0,0
58504,Crafts,Crafts,USD,2013-09-21,2013-08-23 16:55:46,US,successful,2500.0,1
235588,Design,Design,USD,2012-02-27,2012-01-28 01:21:21,US,failed,10000.0,0
369027,Hardware,Technology,USD,2013-08-09,2013-07-10 13:54:31,US,failed,3000000.0,0
64151,Documentary,Film & Video,USD,2012-11-26,2012-10-27 03:58:39,US,failed,10000.0,0

In [32]:
df['launched'] = pd.to_datetime(df['launched'])
df['deadline'] = pd.to_datetime(df['deadline'])

df = df.assign(hour_launched=df.launched.dt.hour,
               day_launched=df.launched.dt.day,
               month_launched=df.launched.dt.month,
               year_launched=df.launched.dt.year)

df = df.assign(day_deadline=df.launched.dt.day,
               month_deadline=df.launched.dt.month,
               year_deadline=df.launched.dt.year)

df.head()

,category,main_category,currency,deadline,launched,country,state,goal,outcome,hour_launched,day_launched,month_launched,year_launched,day_deadline,month_deadline,year_deadline
0,Poetry,Publishing,GBP,2015-10-09,2015-08-11 12:12:28,GB,failed,1000.0,0,12,11,8,2015,11,8,2015
1,Narrative Film,Film & Video,USD,2017-11-01,2017-09-02 04:43:57,US,failed,30000.0,0,4,2,9,2017,2,9,2017
2,Narrative Film,Film & Video,USD,2013-02-26,2013-01-12 00:20:50,US,failed,45000.0,0,0,12,1,2013,12,1,2013
3,Music,Music,USD,2012-04-16,2012-03-17 03:24:11,US,failed,5000.0,0,3,17,3,2012,17,3,2012
5,Restaurants,Food,USD,2016-04-01,2016-02-26 13:38:27,US,successful,50000.0,1,13,26,2,2016,26,2,2016

In [36]:
from sklearn.preprocessing import LabelEncoder

cat_features = ['category', 'currency', 'country', 'main_category']
encoder = LabelEncoder()

encoded = df[cat_features].apply(encoder.fit_transform)
encoded.head(10)

df = df[['goal', 'hour_launched', 'day_launched', 'month_launched', 'year_launched','day_deadline', 'month_deadline', 'year_deadline', 'outcome']].join(encoded)
df.head()

,goal,hour_launched,day_launched,month_launched,year_launched,day_deadline,month_deadline,year_deadline,outcome,category,currency,country,main_category
0,1000.0,12,11,8,2015,11,8,2015,0,108,5,9,12
1,30000.0,4,2,9,2017,2,9,2017,0,93,13,22,6
2,45000.0,0,12,1,2013,12,1,2013,0,93,13,22,6
3,5000.0,3,17,3,2012,17,3,2012,0,90,13,22,10
5,50000.0,13,26,2,2016,26,2,2016,1,123,13,22,7

## Data Exploration

In [ ]:
# Descriptive statistics for key fields
# Add visualizations (where applicable)

## Baseline Model (Benchmark)

In [37]:
# Simple baseline model
features = ['goal', 'hour_launched', 'day_launched', 'month_launched', 'year_launched','day_deadline', 'month_deadline', 'year_deadline']
target = 'outcome'

X = df[features]
y = df[target]

X.head()

,goal,hour_launched,day_launched,month_launched,year_launched,day_deadline,month_deadline,year_deadline
0,1000.0,12,11,8,2015,11,8,2015
1,30000.0,4,2,9,2017,2,9,2017
2,45000.0,0,12,1,2013,12,1,2013
3,5000.0,3,17,3,2012,17,3,2012
5,50000.0,13,26,2,2016,26,2,2016

In [38]:
#
%load_ext tensorboard

import os
import datetime
import tensorflow as tf

logdir = os.path.join("logs", datetime.datetime.now().strftime("%Y%m%d-%H%M%S"))
tensorboard_callback = tf.keras.callbacks.TensorBoard(logdir, histogram_freq=1)

In [39]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential([
    Dense(128, input_dim=8, activation='relu'),
    Dense(64, activation='relu'),
    Desne(32, activation='relu'),
    Dense(1, activation='sigmoid'),    
])

model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 128)               1152
_________________________________________________________________
dense_1 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 65
=================================================================
Total params: 9,473
Trainable params: 9,473
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(X, y,
          epochs=10,
          batch_size=32,
          validation_split=0.2,
          callbacks=[tensorboard_callback])

In [42]:
%tensorboard --logdir logs

ERROR: Timed out waiting for TensorBoard to start. It may still be running as pid 12584.

## Modeling Approach #1

## Modeling Approach #2

## Hyper-parameter Tuning for Best Model

## Save Final Model

In [ ]:
import joblib

joblib.dump(model, '../models/model_name.joblib')