# BW Project Title

## Team Members
- Zack Snyder

## Project Description
This model will utilize data from the Kaggle kickstarter dataset to predict whether a kickstarter project will be successful.

In [17]:
# Import required packages
import numpy as np
import tensorflow as tf
import pandas as pd
import sklearn
import seaborn as sns

print(f'Numpy Version: {np.__version__}')
print(f'Tensorflow Version: {tf.__version__}')
print(f'Pandas Version: {pd.__version__}')
print(f'sklearn Version: {sklearn.__version__}')
print(f'seaborn Version: {sns.__version__}')

Numpy Version: 1.19.5
Tensorflow Version: 2.4.1
Pandas Version: 1.2.2
sklearn Version: 0.24.1
seaborn Version: 0.11.1

## Load Data

In [2]:
df1 = pd.read_csv(r'C:\Users\zacks\repos\kickstarter-success\U4-BW-Template\U4-BW-Template\data\ks-projects-201612.csv')
df2 = pd.read_csv(r'C:\Users\zacks\repos\kickstarter-success\U4-BW-Template\U4-BW-Template\data\ks-projects-201801.csv')
df = pd.concat([df1, df2], axis=1)
df.sample(10)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,...,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
153970,1.914946e+09,PLUS ONE,Film & Video,Film & Video,USD,2013-03-09 01:04:45,1301,2013-02-07 01:04:45,1402,successful,...,2015-04-16,90000.0,2015-02-15 22:05:44,0.00,failed,0,US,0.0,0.00,90000.00
26526,1.157279e+09,EarnMoneyOnChess (Canceled),Games,Games,SEK,2016-05-24 08:21:08,263750,2016-05-04 08:21:08,0,canceled,...,2017-01-22,4500.0,2016-12-23 19:08:37,20879.00,successful,468,US,1732.0,20879.00,4500.00
189867,2.130637e+09,"Oldies but Goodies: Restoring ""Rudy""",Food Trucks,Food,USD,2014-10-02 04:48:55,35000,2014-09-02 04:48:55,15334,failed,...,2017-07-01,22000.0,2017-05-31 06:04:05,9084.00,canceled,187,US,3245.0,9084.00,22000.00
152529,1.906582e+09,Project Tennis,Live Games,Games,USD,2015-03-04 20:04:37,25000,2015-02-02 20:04:37,2,failed,...,2017-11-29,14000.0,2017-10-23 11:43:41,9274.00,failed,273,US,6141.0,9274.00,14000.00
327667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2012-02-17,100.0,2012-02-07 22:20:34,100.00,successful,3,US,100.0,100.00,100.00
124997,1.742344e+08,A Journey Through A Young Boy's Life (Canceled),Shorts,Film & Video,USD,2011-12-17 17:17:34,3000,2011-10-18 17:17:34,0,canceled,...,2017-09-03,800.0,2017-07-20 04:17:46,56.00,failed,4,US,0.0,56.00,800.00
77739,1.461841e+09,"Noble Breads : A Micro Bakery in Phoenix, Arizona",Food,Food,USD,2012-08-02 18:31:25,20000,2012-07-03 18:31:25,20403,successful,...,2016-12-25,4907.0,2016-11-10 18:50:13,100.00,failed,1,GB,0.0,123.12,6041.32
90084,1.535353e+09,JD and Friends' Second Children's Book Wishes ...,Children's Books,Publishing,USD,2014-10-01 02:00:00,2500,2014-08-27 18:10:00,125,failed,...,2012-08-09,30000.0,2012-07-10 14:57:07,580.00,canceled,7,US,580.0,580.00,30000.00
229334,4.335950e+08,250 Years/250 People: Windsor Vermont,Photography,Photography,USD,2011-04-08 03:20:19,10000,2011-03-08 03:20:19,10686,successful,...,2016-04-14,4000.0,2016-02-14 22:12:48,4020.22,undefined,0,"N,0""",NaN,4020.22,4000.00
50431,1.299499e+09,I'll Be Seeing You (A USC Student Production),Narrative Film,Film & Video,USD,2010-10-21 06:18:58,750,2010-09-06 06:18:58,1040.04,successful,...,2014-03-28,50000.0,2014-02-26 02:36:12,2519.00,failed,34,US,2519.0,2519.00,50000.00

In [3]:
df = df.dropna(axis=1)
df.shape

(378661, 13)

In [4]:
df.sample(10)

,ID,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged_real,usd_goal_real
62413,1317317751,Punk,Music,USD,2016-06-18,1000.0,2016-04-29 15:58:07,1375.66,successful,54,US,1375.66,1000.00
223720,2139827605,Documentary,Film & Video,USD,2014-11-17,20000.0,2014-10-18 02:05:38,775.00,failed,14,US,775.00,20000.00
350872,857497735,Hip-Hop,Music,GBP,2014-05-23,500.0,2014-03-24 19:52:34,45.00,failed,2,GB,75.78,842.03
241314,29735126,Theater,Theater,USD,2013-05-14,25000.0,2013-04-09 02:39:51,25920.00,successful,208,US,25920.00,25000.00
250591,344612542,Illustration,Art,GBP,2015-03-26,50.0,2015-01-25 16:35:25,4.00,canceled,1,GB,5.95,74.38
70429,1358562795,Design,Design,USD,2013-01-31,35000.0,2012-12-17 02:12:57,41505.00,successful,607,US,41505.00,35000.00
191955,1976693331,Jazz,Music,USD,2013-10-28,2500.0,2013-09-23 22:24:40,2780.69,successful,68,US,2780.69,2500.00
295596,574510424,Fashion,Fashion,USD,2011-12-05,8500.0,2011-11-17 21:50:20,8981.00,successful,33,US,8981.00,8500.00
270185,444773097,Games,Games,USD,2012-04-22,750.0,2012-03-08 18:53:10,311.00,failed,9,US,311.00,750.00
356619,886533483,Rock,Music,USD,2015-07-01,6100.0,2015-06-01 23:30:53,6368.00,successful,88,US,6368.00,6100.00

In [5]:
df = df[df['state'] != 'canceled']

df.shape

(339882, 13)

In [6]:
df.sample(10)

,ID,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged_real,usd_goal_real
68993,1351215058,Graphic Novels,Comics,USD,2015-05-04,4800.0,2015-04-04 21:15:13,6515.00,successful,176,US,6515.00,4800.00
242010,300896998,Fashion,Fashion,USD,2012-09-27,22000.0,2012-08-28 18:30:58,24519.46,successful,279,US,24519.46,22000.00
51290,1261192581,Rock,Music,USD,2014-04-03,1599.0,2014-03-18 15:02:16,1604.00,successful,18,US,1604.00,1599.00
44258,1224987066,Graphic Design,Design,USD,2016-11-19,400.0,2016-11-05 00:44:27,510.00,successful,15,US,510.00,400.00
74042,1377243995,Fiction,Publishing,USD,2013-07-24,1200.0,2013-06-24 23:01:28,1975.00,successful,31,US,1975.00,1200.00
54186,1275749903,Spaces,Dance,USD,2015-04-30,5000.0,2015-03-26 18:56:53,10.00,failed,1,US,10.00,5000.00
188781,1960625015,Crafts,Crafts,EUR,2015-12-23,100000.0,2015-10-24 05:45:40,0.00,failed,0,FR,0.00,109470.27
28426,1144240467,Webseries,Film & Video,USD,2012-03-17,1250.0,2012-01-17 13:54:32,151.00,failed,2,US,151.00,1250.00
131166,1665800298,Country & Folk,Music,USD,2013-07-05,3000.0,2013-06-07 18:56:24,5127.00,successful,108,US,5127.00,3000.00
262264,403987766,Comic Books,Comics,USD,2017-05-13,3500.0,2017-03-14 16:01:13,4127.00,successful,157,US,4127.00,3500.00

In [7]:
#removing data leakage columns

df = df[['category', 'main_category', 'currency', 'deadline', 'launched', 'country', 'state', 'goal']]

df.sample(5)

,category,main_category,currency,deadline,launched,country,state,goal
129996,Film & Video,Film & Video,USD,2016-07-02,2016-06-02 22:56:55,US,failed,5000.0
107147,Music,Music,USD,2016-01-06,2015-12-07 18:31:10,"N,0""",undefined,5000.0
209880,Documentary,Film & Video,USD,2011-03-23,2011-01-22 07:13:42,US,failed,6000.0
368235,Documentary,Film & Video,USD,2012-05-05,2012-03-21 00:03:35,US,failed,18000.0
289092,Film & Video,Film & Video,USD,2016-01-17,2015-12-18 00:05:20,US,failed,19000.0

In [8]:
#converting state into binary success and failure where success=1  and failure = 0 

df = df.assign(outcome=(df['state'] == 'successful').astype(int))

df.sample(5)

,category,main_category,currency,deadline,launched,country,state,goal,outcome
190567,Documentary,Film & Video,GBP,2015-01-05,2014-12-01 17:54:54,GB,successful,10000.0,1
70737,Fashion,Fashion,EUR,2017-03-17,2017-02-15 18:40:01,DE,successful,10000.0,1
82932,Theater,Theater,USD,2012-05-04,2012-04-04 21:09:14,US,failed,15000.0,0
361954,Film & Video,Film & Video,USD,2014-06-20,2014-05-21 19:46:21,US,failed,250.0,0
276703,Product Design,Design,USD,2015-10-21,2015-09-21 21:24:29,US,failed,500.0,0

In [9]:
df['launched'] = pd.to_datetime(df['launched'])
df['deadline'] = pd.to_datetime(df['deadline'])

df = df.assign(hour_launched=df.launched.dt.hour,
               day_launched=df.launched.dt.day,
               month_launched=df.launched.dt.month,
               year_launched=df.launched.dt.year)

df = df.assign(day_deadline=df.launched.dt.day,
               month_deadline=df.launched.dt.month,
               year_deadline=df.launched.dt.year)

df.head()

,category,main_category,currency,deadline,launched,country,state,goal,outcome,hour_launched,day_launched,month_launched,year_launched,day_deadline,month_deadline,year_deadline
0,Poetry,Publishing,GBP,2015-10-09,2015-08-11 12:12:28,GB,failed,1000.0,0,12,11,8,2015,11,8,2015
1,Narrative Film,Film & Video,USD,2017-11-01,2017-09-02 04:43:57,US,failed,30000.0,0,4,2,9,2017,2,9,2017
2,Narrative Film,Film & Video,USD,2013-02-26,2013-01-12 00:20:50,US,failed,45000.0,0,0,12,1,2013,12,1,2013
3,Music,Music,USD,2012-04-16,2012-03-17 03:24:11,US,failed,5000.0,0,3,17,3,2012,17,3,2012
5,Restaurants,Food,USD,2016-04-01,2016-02-26 13:38:27,US,successful,50000.0,1,13,26,2,2016,26,2,2016

In [10]:
from sklearn.preprocessing import LabelEncoder

cat_features = ['category', 'currency', 'country', 'main_category']
encoder = LabelEncoder()

encoded = df[cat_features].apply(encoder.fit_transform)
encoded.head(10)

df = df[['goal', 'hour_launched', 'day_launched', 'month_launched', 'year_launched','day_deadline', 'month_deadline', 'year_deadline', 'outcome']].join(encoded)
df.head()

,goal,hour_launched,day_launched,month_launched,year_launched,day_deadline,month_deadline,year_deadline,outcome,category,currency,country,main_category
0,1000.0,12,11,8,2015,11,8,2015,0,108,5,9,12
1,30000.0,4,2,9,2017,2,9,2017,0,93,13,22,6
2,45000.0,0,12,1,2013,12,1,2013,0,93,13,22,6
3,5000.0,3,17,3,2012,17,3,2012,0,90,13,22,10
5,50000.0,13,26,2,2016,26,2,2016,1,123,13,22,7

## Data Exploration

In [11]:
# Descriptive statistics for key fields
# Add visualizations (where applicable)

## Baseline Model (Benchmark)

In [19]:
# Simple baseline model
features = ['goal', 'hour_launched', 'day_launched', 'month_launched', 'year_launched','day_deadline', 'month_deadline', 'year_deadline', 'category', 'currency', 'country', 'main_category']
target = 'outcome'

X = df[features]
y = df[target]

X.head()

,goal,hour_launched,day_launched,month_launched,year_launched,day_deadline,month_deadline,year_deadline,category,currency,country,main_category
0,1000.0,12,11,8,2015,11,8,2015,108,5,9,12
1,30000.0,4,2,9,2017,2,9,2017,93,13,22,6
2,45000.0,0,12,1,2013,12,1,2013,93,13,22,6
3,5000.0,3,17,3,2012,17,3,2012,90,13,22,10
5,50000.0,13,26,2,2016,26,2,2016,123,13,22,7

In [27]:
from sklearn.preprocessing import RobustScaler 

scaler = RobustScaler()

X_numerical = X.drop(['main_category','country'], axis = 1)

scaler.fit(X_numerical)

scaled_X = scaler.transform(X_numerical)

scaled_X = pd.DataFrame(scaled_X, columns = X_numerical.columns)

In [13]:
#
%load_ext tensorboard

import os
import datetime
import tensorflow as tf

logdir = os.path.join("logs", datetime.datetime.now().strftime("%Y%m%d-%H%M%S"))
tensorboard_callback = tf.keras.callbacks.TensorBoard(logdir, histogram_freq=1)

In [34]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential([
    Dense(10, input_dim=10, activation='relu'),
    Dense(1, activation='sigmoid'),    
])

model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

model.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_20 (Dense)             (None, 10)                110
_________________________________________________________________
dense_21 (Dense)             (None, 1)                 11
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [35]:
model.fit(scaled_X, y,
          epochs=10,
          batch_size=32,
          validation_split=0.2,
          callbacks=[tensorboard_callback])

Epoch 1/10
8498/8498 [==============================] - 4s 489us/step - loss: 0.8952 - accuracy: 0.5994 - val_loss: 0.6371 - val_accuracy: 0.6312
Epoch 2/10
8498/8498 [==============================] - 4s 446us/step - loss: 0.6384 - accuracy: 0.6313 - val_loss: 0.6353 - val_accuracy: 0.6353
Epoch 3/10
8498/8498 [==============================] - 4s 438us/step - loss: 0.6351 - accuracy: 0.6340 - val_loss: 0.6335 - val_accuracy: 0.6351
Epoch 4/10
8498/8498 [==============================] - 4s 447us/step - loss: 0.6337 - accuracy: 0.6339 - val_loss: 0.6331 - val_accuracy: 0.6345
Epoch 5/10
8498/8498 [==============================] - 4s 437us/step - loss: 0.6332 - accuracy: 0.6338 - val_loss: 0.6315 - val_accuracy: 0.6360
Epoch 6/10
8498/8498 [==============================] - 4s 442us/step - loss: 0.6323 - accuracy: 0.6349 - val_loss: 0.6324 - val_accuracy: 0.6348
Epoch 7/10
8498/8498 [==============================] - 4s 445us/step - loss: 0.6322 - accuracy: 0.6354 - val_loss: 0.6296 - val_accuracy: 0.6380
Epoch 8/10
8498/8498 [==============================] - 4s 441us/step - loss: 0.6307 - accuracy: 0.6370 - val_loss: 0.6294 - val_accuracy: 0.6385
Epoch 9/10
8498/8498 [==============================] - 4s 444us/step - loss: 0.6290 - accuracy: 0.6382 - val_loss: 0.6295 - val_accuracy: 0.6387
Epoch 10/10
8498/8498 [==============================] - 4s 441us/step - loss: 0.6310 - accuracy: 0.6354 - val_loss: 0.6284 - val_accuracy: 0.6397

In [42]:
%tensorboard --logdir logs

ERROR: Timed out waiting for TensorBoard to start. It may still be running as pid 12584.

## Modeling Approach #1

In [36]:
model2 = Sequential([
    Dense(64, input_dim=10, activation='relu'),
    Dense(32, activation='relu'),
    Dense(16, activation='relu'),
    Dense(1, activation='sigmoid'),    
])

model2.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

model2.summary()

Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_22 (Dense)             (None, 64)                704
_________________________________________________________________
dense_23 (Dense)             (None, 32)                2080
_________________________________________________________________
dense_24 (Dense)             (None, 16)                528
_________________________________________________________________
dense_25 (Dense)             (None, 1)                 17
=================================================================
Total params: 3,329
Trainable params: 3,329
Non-trainable params: 0
_________________________________________________________________

In [37]:
model2.fit(scaled_X, y,
          epochs=20,
          batch_size=32,
          validation_split=0.2,
          callbacks=[tensorboard_callback])

Epoch 1/20
8498/8498 [==============================] - 6s 608us/step - loss: 0.6399 - accuracy: 0.6281 - val_loss: 0.6292 - val_accuracy: 0.6384
Epoch 2/20
8498/8498 [==============================] - 4s 505us/step - loss: 0.6287 - accuracy: 0.6404 - val_loss: 0.6254 - val_accuracy: 0.6442
Epoch 3/20
8498/8498 [==============================] - 4s 495us/step - loss: 0.6252 - accuracy: 0.6448 - val_loss: 0.6242 - val_accuracy: 0.6442
Epoch 4/20
8498/8498 [==============================] - 4s 497us/step - loss: 0.6239 - accuracy: 0.6456 - val_loss: 0.6210 - val_accuracy: 0.6500
Epoch 5/20
8498/8498 [==============================] - 4s 501us/step - loss: 0.6218 - accuracy: 0.6476 - val_loss: 0.6204 - val_accuracy: 0.6503
Epoch 6/20
8498/8498 [==============================] - 4s 521us/step - loss: 0.6181 - accuracy: 0.6519 - val_loss: 0.6185 - val_accuracy: 0.6516
Epoch 7/20
8498/8498 [==============================] - 4s 503us/step - loss: 0.6178 - accuracy: 0.6519 - val_loss: 0.6188 - val_accuracy: 0.6523
Epoch 8/20
8498/8498 [==============================] - 4s 504us/step - loss: 0.6187 - accuracy: 0.6510 - val_loss: 0.6189 - val_accuracy: 0.6531
Epoch 9/20
8498/8498 [==============================] - 4s 503us/step - loss: 0.6159 - accuracy: 0.6545 - val_loss: 0.6154 - val_accuracy: 0.6545
Epoch 10/20
8498/8498 [==============================] - 4s 504us/step - loss: 0.6167 - accuracy: 0.6526 - val_loss: 0.6167 - val_accuracy: 0.6519
Epoch 11/20
8498/8498 [==============================] - 4s 507us/step - loss: 0.6151 - accuracy: 0.6561 - val_loss: 0.6163 - val_accuracy: 0.6539
Epoch 12/20
8498/8498 [==============================] - 4s 500us/step - loss: 0.6152 - accuracy: 0.6551 - val_loss: 0.6155 - val_accuracy: 0.6554
Epoch 13/20
8498/8498 [==============================] - 4s 496us/step - loss: 0.6129 - accuracy: 0.6574 - val_loss: 0.6148 - val_accuracy: 0.6552
Epoch 14/20
8498/8498 [==============================] - 4s 489us/step - loss: 0.6140 - accuracy: 0.6569 - val_loss: 0.6158 - val_accuracy: 0.6543
Epoch 15/20
8498/8498 [==============================] - 4s 498us/step - loss: 0.6134 - accuracy: 0.6567 - val_loss: 0.6149 - val_accuracy: 0.6537
Epoch 16/20
8498/8498 [==============================] - 4s 499us/step - loss: 0.6132 - accuracy: 0.6574 - val_loss: 0.6149 - val_accuracy: 0.6556
Epoch 17/20
8498/8498 [==============================] - 4s 491us/step - loss: 0.6133 - accuracy: 0.6563 - val_loss: 0.6161 - val_accuracy: 0.6527
Epoch 18/20
8498/8498 [==============================] - 4s 495us/step - loss: 0.6132 - accuracy: 0.6569 - val_loss: 0.6153 - val_accuracy: 0.6542
Epoch 19/20
8498/8498 [==============================] - 4s 505us/step - loss: 0.6132 - accuracy: 0.6575 - val_loss: 0.6140 - val_accuracy: 0.6557
Epoch 20/20
8498/8498 [==============================] - 4s 501us/step - loss: 0.6126 - accuracy: 0.6581 - val_loss: 0.6132 - val_accuracy: 0.6561

## Modeling Approach #2

In [42]:
#adding early stopping

from tensorflow.keras.callbacks import EarlyStopping

logdir = os.path.join("logs", "EarlyStopping-Loss")

tensorboard_callback = tf.keras.callbacks.TensorBoard(logdir, histogram_freq=1)
stop = EarlyStopping(monitor='val_accuracy', min_delta=0.005, patience=3)

model3 = tf.keras.Sequential([
    Dense(300, input_dim=10, activation='relu'),
    Dense(150, activation='relu'),
    Dense(75, activation='relu'),
    Dense(1, activation='sigmoid')
])

model3.compile(loss='binary_crossentropy', optimizer='nadam', metrics=['accuracy'])

In [43]:
model.fit(scaled_X, y, epochs=99, 
          validation_split=0.2,
          callbacks=[tensorboard_callback, stop])

Epoch 1/99
8498/8498 [==============================] - 4s 518us/step - loss: 0.6098 - accuracy: 0.6605 - val_loss: 0.6130 - val_accuracy: 0.6571
Epoch 2/99
8498/8498 [==============================] - 4s 501us/step - loss: 0.6096 - accuracy: 0.6606 - val_loss: 0.6115 - val_accuracy: 0.6566
Epoch 3/99
8498/8498 [==============================] - 4s 520us/step - loss: 0.6097 - accuracy: 0.6602 - val_loss: 0.6123 - val_accuracy: 0.6578
Epoch 4/99
8498/8498 [==============================] - 4s 508us/step - loss: 0.6092 - accuracy: 0.6611 - val_loss: 0.6127 - val_accuracy: 0.6576

## Hyper-parameter Tuning for Best Model

## Save Final Model

In [ ]:
import joblib

joblib.dump(model, '../models/model_name.joblib')