# BW Project Title

## Team Members
- Zack Snyder

## Project Description
This model will utilize data from the Kaggle kickstarter dataset to predict whether a kickstarter project will be successful.

In [1]:
# Import required packages
import numpy as np
import tensorflow as tf
import pandas as pd

print(f'Numpy Version: {np.__version__}')
print(f'Tensorflow Version: {tf.__version__}')
print(f'Pandas Version: {pd.__version__}')

Numpy Version: 1.19.5
Tensorflow Version: 2.4.1
Pandas Version: 1.2.2

## Load Data

In [37]:
df1 = pd.read_csv(r'C:\Users\zacks\repos\kickstarter-success\U4-BW-Template\U4-BW-Template\data\ks-projects-201612.csv')
df2 = pd.read_csv(r'C:\Users\zacks\repos\kickstarter-success\U4-BW-Template\U4-BW-Template\data\ks-projects-201801.csv')
df = pd.concat([df1, df2], axis=1)
df.sample(10)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,...,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
296884,8.390613e+08,SmartSurface: A Parallelly Projected Touch Ena...,Gadgets,Technology,USD,2016-12-04 18:14:47,10000,2016-11-04 17:14:47,1346,failed,...,2016-04-03,2400.0,2016-02-03 02:33:03,0.00,failed,0,US,0.00,0.00,2400.00
347167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2017-07-06,15000.0,2017-05-22 17:11:33,12616.00,failed,90,US,7743.00,12616.00,15000.00
153852,1.914237e+09,"Conducting Product Demos For Healthy, Sugar Fr...",Food,Food,USD,2015-03-28 01:16:55,5000,2015-02-26 02:16:55,0,failed,...,2012-05-04,400.0,2012-04-27 23:21:39,0.00,failed,0,US,0.00,0.00,400.00
77300,1.459180e+09,"Fashion Mobility, for the Able & Differently Able",Fashion,Fashion,USD,2015-02-05 21:46:39,4899,2014-12-22 21:46:39,6,failed,...,2017-07-20,1500.0,2017-06-20 09:43:07,204.00,failed,5,ES,94.06,237.50,1746.30
179633,2.069925e+09,Black Cloud - a documentary about Austin-Travi...,Documentary,Film & Video,USD,2015-06-16 16:43:56,5000,2015-05-17 16:43:56,14386,successful,...,2015-05-22,440.0,2015-04-22 22:44:21,441.00,successful,18,GB,656.51,689.73,688.17
190936,2.136718e+09,TOB Cable: One cable for everything,Technology,Technology,USD,2015-03-18 09:14:12,20000,2015-02-16 10:14:12,97126,successful,...,2011-11-01,7500.0,2011-09-29 23:45:58,1445.00,failed,14,US,1445.00,1445.00,7500.00
77216,1.458679e+09,Socially Positive Playing Cards v2.1,Games,Games,USD,2016-04-01 21:16:27,3750,2016-03-02 21:16:27,122,failed,...,2011-04-03,20000.0,2011-03-02 04:22:14,165.00,failed,5,US,165.00,165.00,20000.00
121201,1.719719e+08,The Zombie Squad,Tabletop Games,Games,GBP,2016-10-25 19:29:58,2000,2016-09-25 19:29:58,3266,successful,...,2011-12-10,8500.0,2011-10-26 01:23:30,8840.00,successful,150,US,8840.00,8840.00,8500.00
361703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2011-10-30,7200.0,2011-10-08 01:23:25,72.02,canceled,4,US,72.02,72.02,7200.00
200977,2.638403e+08,The Original Bag Daddy,Product Design,Design,USD,2016-07-17 18:08:12,14271,2016-06-09 18:08:12,246,failed,...,2014-05-30,182700.0,2014-04-06 13:57:52,0.00,failed,0,GB,0.00,0.00,305743.36

In [38]:
df = df.dropna(axis=1)
df.shape

(378661, 13)

In [39]:
df.sample(10)

,ID,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged_real,usd_goal_real
121283,1616020703,Food,Food,USD,2012-09-01,2500.0,2012-08-02 00:23:32,385.0,failed,11,US,385.00,2500.00
131509,1667483257,Documentary,Film & Video,USD,2014-06-28,49000.0,2014-05-29 17:47:35,0.0,failed,0,US,0.00,49000.00
77590,1394722944,Crafts,Crafts,GBP,2015-02-22,300.0,2015-01-23 00:24:49,24.0,failed,7,GB,37.07,463.31
207740,205872037,Apparel,Fashion,USD,2016-04-19,12000.0,2016-03-19 00:43:58,4023.0,failed,16,US,4023.00,12000.00
360400,906206441,Product Design,Design,USD,2016-09-18,15000.0,2016-08-19 02:25:57,15001.0,successful,201,US,15001.00,15000.00
272929,458589493,Digital Art,Art,USD,2014-04-02,25000.0,2014-02-01 06:01:02,100.0,failed,1,US,100.00,25000.00
24530,1124482562,Video Art,Art,USD,2017-10-13,3000.0,2017-08-15 00:51:12,941.0,failed,12,US,941.00,3000.00
106090,153923176,Small Batch,Food,CAD,2015-05-29,5000.0,2015-04-29 18:38:59,0.0,canceled,0,CA,0.00,4018.32
118441,1601710923,Food Trucks,Food,USD,2016-12-20,8000.0,2016-11-20 21:23:07,70.0,failed,3,US,70.00,8000.00
137776,1699692798,Tabletop Games,Games,GBP,2014-11-12,16000.0,2014-10-13 22:25:50,21893.0,successful,348,GB,34272.61,25047.36

In [40]:
df = df[df['state'] != 'canceled']

df.shape

(339882, 13)

In [41]:
df.sample(10)

,ID,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged_real,usd_goal_real
88789,1451321096,Fiction,Publishing,USD,2011-10-16,1200.0,2011-08-17 13:51:58,26.00,failed,2,US,26.00,1200.00
132607,1673007473,Tabletop Games,Games,USD,2012-07-01,15000.0,2012-05-30 16:03:41,52256.76,successful,582,US,52256.76,15000.00
354341,875214108,Documentary,Film & Video,CAD,2016-11-10,10000.0,2016-10-11 01:03:44,425.00,failed,5,CA,315.02,7412.35
162870,1828533945,Product Design,Design,USD,2017-02-10,15000.0,2016-12-13 16:03:01,177496.11,successful,1166,US,177496.11,15000.00
158956,1808475754,Theater,Theater,USD,2014-05-02,6000.0,2014-04-02 02:25:25,6490.00,successful,70,US,6490.00,6000.00
302622,611016814,Film & Video,Film & Video,USD,2015-12-17,50.0,2015-11-17 00:09:27,5.00,failed,1,US,5.00,50.00
120994,1614576560,Theater,Theater,USD,2011-07-19,35000.0,2011-05-10 18:50:25,1922.00,failed,49,US,1922.00,35000.00
290698,54915628,Technology,Technology,USD,2014-07-06,18550.0,2014-06-06 01:47:21,10220.00,failed,10,US,10220.00,18550.00
333907,770898325,Fiction,Publishing,USD,2012-07-24,3500.0,2012-06-11 12:11:35,1068.00,failed,16,US,1068.00,3500.00
14455,1072736325,Crafts,Crafts,USD,2015-04-06,5000.0,2015-02-05 21:24:07,0.00,suspended,0,US,0.00,5000.00

In [45]:
#removing data leakage columns

df = df[['ID', 'category', 'main_category', 'currency', 'deadline', 'launched', 'country', 'state']]

df.sample(5)

,ID,category,main_category,currency,deadline,launched,country,state
331568,759249890,Performance Art,Art,GBP,2016-03-10,2016-02-10 16:13:26,GB,successful
319034,695035337,Documentary,Film & Video,USD,2014-05-23,2014-04-23 18:27:41,US,failed
331698,759863177,Product Design,Design,USD,2017-06-01,2017-05-05 02:58:51,US,successful
320847,703772806,Mobile Games,Games,USD,2017-03-23,2017-02-21 22:19:56,US,failed
113819,1578104891,Fiction,Publishing,USD,2011-08-14,2011-07-15 23:06:34,US,failed

## Data Exploration

In [ ]:
# Descriptive statistics for key fields
# Add visualizations (where applicable)

## Baseline Model (Benchmark)

In [ ]:
# Simple baseline model

## Modeling Approach #1

## Modeling Approach #2

## Hyper-parameter Tuning for Best Model

## Save Final Model

In [ ]:
import joblib

joblib.dump(model, '../models/model_name.joblib')